HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
D:\hauphvn-Projects\New Thesis\New folder\realestate\src\main\java\com\estate\real\config\ContractInfo.java
